# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Added by Anha 27/04/2014
# OF Files
*.sdf

# bin
*.exp
*.ilk
*.pdb

# Example-Simple
*.pbxproj
*.xcscheme
*.opensdf
*.filters

# Obj
# Release
*.log

# Debug
*.idb
*.cache
*.tlog
*.lastbuildstate